@font-face {
  font-family: 'Haskoy';
  src: url('haskoy[wght].woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  cursor: default;
}

html,
body,
input,
textarea,
button,
h1, h2, h3, h4, h5, h6 {
  font-family: Haskoy, sans;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, label, p, .preview-canvas {
  padding: 0;
  margin: 0 0 14px 0;
}

body {
  background: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  background: white;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  margin: 20px;
  padding: 30px;
  overflow: hidden;
}

@media all and (max-width: 500px) {
  main {
    margin: 0;
    border-radius: 0;
  }
}

h1 {
  font-style: italic;
}

.preview-canvas {
  width: 100%;
  display: block;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label input[type=number] {
  display: block;
  flex-grow: 1;
}

.label-text {
  font-weight: bold;
  flex-basis: 50%;
  flex-shrink: 0;
  margin-right: 20px;
}
